/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/screen.scss */
.glyphicon {
  display: none;
}

/* line 14, ../sass/screen.scss */
span.form-required {
  display: none;
}

/* line 17, ../sass/screen.scss */
span.span-display {
  display: block;
}

/* line 22, ../sass/screen.scss */
header#navbar {
  background-color: #3b5998;
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
}

/* line 30, ../sass/screen.scss */
.page-signuplink #user-login-form {
  display: none;
}
/* line 37, ../sass/screen.scss */
.page-signuplink .panel-3col-stacked .panel-col .inside .pane-formblock-user-register .pane-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 52, ../sass/screen.scss */
.not-logged-in header.navbar,
.page-signuplink header.navbar {
  background-color: #3b5998;
  margin-top: 0px;
  width: 100%;
  max-width: 100%;
}
/* line 57, ../sass/screen.scss */
.not-logged-in header.navbar .container,
.page-signuplink header.navbar .container {
  width: 980px;
  margin: 0 auto;
}
/* line 61, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form,
.page-signuplink header.navbar .container .region-navigation #user-login-form {
  margin-top: 10px;
  float: right;
  font-size: 13px;
}
/* line 66, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-type-textfield,
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-type-password,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-type-textfield,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-type-password {
  display: inline-block;
  color: #ffffff;
}
/* line 71, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-actions,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-actions {
  float: right;
  margin-top: 17px;
  margin-right: 92px;
}
/* line 75, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-actions .btn,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-actions .btn {
  padding: 4px 11px;
  margin-top: 10px;
}
/* line 80, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .clearfix-login,
.page-signuplink header.navbar .container .region-navigation #user-login-form .clearfix-login {
  margin-left: 73px;
  padding-left: 49px;
  text-align: center;
}
/* line 84, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .clearfix-login a,
.page-signuplink header.navbar .container .region-navigation #user-login-form .clearfix-login a {
  color: #9cb4d8;
}
/* line 88, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-group,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-group {
  margin: 5px;
}
/* line 91, ../sass/screen.scss */
.not-logged-in header.navbar .container .region-navigation #user-login-form .form-control,
.page-signuplink header.navbar .container .region-navigation #user-login-form .form-control {
  border-radius: 0px;
  height: 25px;
}
/* line 100, ../sass/screen.scss */
.not-logged-in .main-container,
.page-signuplink .main-container {
  background: linear-gradient(white, #c2c7d6);
  width: 100%;
  max-width: 100%;
}
/* line 104, ../sass/screen.scss */
.not-logged-in .main-container .panels-flexible-1-inside,
.page-signuplink .main-container .panels-flexible-1-inside {
  width: 980px;
  margin: 0 auto;
}
/* line 110, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-first .pane-content,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-first .pane-content {
  line-height: 1.2em;
  font-weight: bold;
  font-size: 19px;
}
/* line 114, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-first .pane-content .span-class,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-first .pane-content .span-class {
  display: block;
}
/* line 120, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last .pane-title,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last .pane-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 127, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form .first,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form .first {
  width: 49%;
  float: left;
}
/* line 131, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form .last,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form .last {
  width: 49%;
  float: right;
}
/* line 135, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form .clearfix,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form .clearfix {
  margin-bottom: 15px;
}
/* line 138, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form .form-control,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form .form-control {
  width: auto;
  padding: 10px 12px;
  margin-top: 8px;
  display: inline;
  border-radius: 4px;
  border: 1px solid #bdc7d8;
  height: 40px;
  font-size: 20px;
  margin-right: 0px;
}
/* line 151, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-account .form-item-pass #edit-pass,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-account .form-item-pass #edit-pass {
  width: 100%;
}
/* line 156, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday {
  width: 50%;
  display: inline-block;
}
/* line 160, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding {
  background-color: transparent;
  border-style: hidden;
  padding: 0px;
}
/* line 167, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel .panel-title,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading .panel-title,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body .panel-title,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding .panel-title,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel .panel-title,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading .panel-title,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body .panel-title,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding .panel-title {
  font-size: 20px;
}
/* line 172, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel .panel-body .form-type-select select,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading .panel-body .form-type-select select,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body .panel-body .form-type-select select,
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding .panel-body .form-type-select select,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel .panel-body .form-type-select select,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-heading .panel-body .form-type-select select,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .panel-body .panel-body .form-type-select select,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-field-account-birthday #field-account-birthday-add-more-wrapper .date-padding .panel-body .form-type-select select {
  font-size: 14px;
  padding: 5px;
}
/* line 181, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-2,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-2 {
  width: 50%;
  float: right;
  margin-top: 27px;
  font-size: 13px;
}
/* line 187, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form .form-type-radio,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form .form-type-radio {
  display: inline-block;
  padding-left: 10px;
  font-size: 20px;
}
/* line 193, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-3 .content,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-3 .content {
  font-size: 13px;
  color: #737373;
  line-height: 1.3em;
}
/* line 200, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-4 .content-bold,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-customtext-4 .content-bold {
  font-weight: bold;
  padding: 10px 0px;
  margin: 15px 0px;
  color: #737373;
  font-size: 14px;
}
/* line 208, ../sass/screen.scss */
.not-logged-in .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-submit,
.page-signuplink .main-container .panel-flexible .panels-flexible-column-last #user-register-form #edit-submit {
  border: 1px solid #3b6e22;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0px;
  cursor: pointer;
  border-radius: 5px;
}
/* line 227, ../sass/screen.scss */
.not-logged-in .footer,
.page-signuplink .footer {
  margin-top: 0px;
  border-top: hidden;
}
/* line 228, ../sass/screen.scss */
.not-logged-in .footer.container,
.page-signuplink .footer.container {
  width: 980px;
  margin: 0 auto;
}
/* line 234, ../sass/screen.scss */
.not-logged-in .footer #block-gtranslate-gtranslate,
.page-signuplink .footer #block-gtranslate-gtranslate {
  border-bottom: 1px solid #dddfe2;
}
/* line 237, ../sass/screen.scss */
.not-logged-in .footer .nav,
.page-signuplink .footer .nav {
  display: inline-flex;
  font-size: 11px;
}
/* line 240, ../sass/screen.scss */
.not-logged-in .footer .nav li,
.page-signuplink .footer .nav li {
  width: 85px;
}
/* line 243, ../sass/screen.scss */
.not-logged-in .footer .nav li > a,
.page-signuplink .footer .nav li > a {
  padding: 0px 15px;
  padding-left: 0px;
}
/* line 247, ../sass/screen.scss */
.not-logged-in .footer .nav li > a:hover,
.page-signuplink .footer .nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}
/* line 253, ../sass/screen.scss */
.not-logged-in .footer #block-block-3 p,
.page-signuplink .footer #block-block-3 p {
  font-size: 13px;
  padding-top: 15px;
  color: #737373;
}
/* line 259, ../sass/screen.scss */
.not-logged-in .footer #block-system-powered-by,
.page-signuplink .footer #block-system-powered-by {
  margin: 20px 0;
  font-size: 12px;
}
